* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeefee;
}
.container {
  padding: 0 4rem 4rem;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  background-color: #485f57;
  border-radius: 1rem;
}

nav a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
nav a:hover,
nav a:active {
  color: #f4ce13;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.main-content .banner-section-wrapper {
  width: 100%;
  background: url("./assets/images/food-one.jpeg");
  width: 100%;
  min-height: 14rem;
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
}
.main-content .banner-section {
  background-color: #00000090;
  color: white;
  padding: 3rem 1.5rem;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-content .articles-section {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.main-content .articles-section article {
  flex: 1;
  background-color: #485f57;
  padding: 1.5rem;
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-content .articles-section article h2 {
  font-size: 24px;
  font-weight: 600;
}
.main-content .articles-section article img {
  width: 100%;
  height: 300px;
  border-radius: 1rem;
  object-fit: cover;
}
.main-content .articles-section article button {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}
.main-content .articles-section article button:hover {
  background-color: #f4ce13;
  color: #485f57;
}
footer {
  display: flex;
  margin-top: 2rem;
}
footer .footer-column {
  flex: 1;
}
footer .logo-column {
  text-align: start;
}
footer .logo-column img {
  width: 100px;
}
footer .copyright-column .copyright {
  text-align: end;
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 3px solid #485f57;
}

@media (max-width: 768px) {
  nav a {
    font-size: 1rem;
  }
  .container {
    padding: 0 1rem 1rem;
    margin: 0 auto;
  }
  .main-content .articles-section article {
    padding: 1rem;
  }
}

@media (max-width: 1024px) {
  .main-content .articles-section {
    flex-direction: column;
  }
}
